! The filename is interpreted relative to the directory of the file in which the line occurs
#include ".Xresources.d/xft"
#include ".Xresources.d/urxvt"
#include ".Xresources.d/xterm"
#include ".Xresources.d/solarized.light"
#include ".Xresources.d/solarized.light.xterm"
#include ".Xresources.d/xterm.font.cascadia_code"
! #include ".Xresources.d/xterm.font.source_code_pro"
